#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --btn-left: clamp(120px, 30vw, 260px);
  --btn-right: clamp(100px, 25vw, 220px);
  --font-size: clamp(16px, 6vw, 48px);
  --bag-size: 50vh;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* ← スクロール禁止 */
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-base {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgb(8, 121, 207), rgb(53, 169, 237));
  background-position: center;
}
.bg-plus {
  position: absolute;
  inset: 0;
  background-image: url("./assets/plus.png");
  background-size: cover;
  background-repeat: repeat;
}
@media (orientation: landscape) {
  .bg-plus {
    animation: movePlusLandscape 8s linear infinite;
  }
}
/* 縦向き */
@media (orientation: portrait) {
  .bg-plus {
    animation: movePlusPortrait 8s linear infinite;
  }
}
@keyframes movePlusLandscape {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(100vw / 8) calc(100vw / 8);
  }
}
@keyframes movePlusPortrait {
  from {
    background-position: 0 0;
  }
  to {
    background-position: calc(100vh / 6) calc(100vh / 6);
  }
}

.bg-grid {
  position: absolute;
  inset: 0;
  background-image: url("./assets/grid.png");
  background-position: center;
  background-size: cover;
}

.top-ui {
  position: fixed;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: 100% auto;
  pointer-events: none;
}

.bottom-ui-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  pointer-events: none;
}

.bottom-ui {
  width: 100%;
  height: auto;
  display: block;
  bottom: 0;
  background-position: center;
  background-size: 100% auto;
  pointer-events: none;
}

.pokemon-name {
  position: fixed;
  top: 1vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4vw;
  font-weight: 700;
  color: #fff;
  pointer-events: none;

  max-width: 40vw; /* ← 横幅の上限（調整OK） */
  white-space: nowrap; /* 改行しない */
  overflow: hidden; /* はみ出した部分を隠す */
  text-overflow: ellipsis; /* 「…」で省略 */
  text-align: center;
}

.button-wrapper .left-button-wrapper,
.button-wrapper .right-button {
  transition: transform 0.3s ease;
}

/* 左右の通常位置 */
.right-button {
  width: 16vw;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: auto;
}

.left-button-wrapper {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: auto;
}

.left-button {
  width: 20vw;
  height: auto;
  display: block;
  bottom: 0;
  left: 0;
  pointer-events: auto;
}

/* 退くとき */
.button-wrapper.open .left-button-wrapper {
  transform: translateX(-80%);
}

.button-wrapper.open .right-button {
  transform: translateX(70%);
}

.category-label {
  position: absolute;
  top: 64%;
  left: 39%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 5vw;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.04em #000000;
  text-stroke: 0.04em #000000;
  font-weight: bold;
}

.category-bar {
  position: absolute;
  display: flex;
  gap: 5%;
  top: 96%;
  left: 45%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  font-size: 5vw;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.04em #000000;
  text-stroke: 0.04em #000000;
  font-weight: bold;
}

.bag {
  position: absolute;
  top: 15%;
  left: 10%;
  width: auto;
  height: 50%;
  transform-origin: top center;
  transition: transform 0.1s ease-out;
}

.shake {
  animation: swing 0.3s ease-out;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  60% {
    transform: rotate(6deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bag.fly {
  animation: flyAway 0.87s ease-out forwards;
  transform-origin: 50% 0%;
}

@keyframes flyAway {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1260deg);
  }
}

.bag.drop {
  animation: dropBag 0.5s ease-out forwards;
}

@keyframes dropBag {
  0% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(0);
  }
}

.select-file {
  display: none; /* input は隠す */
}

.file-button {
  position: fixed;
  top: 5vw;
  right: 10%;
  padding: 2px 10px;
  background: rgba(255, 255, 255, 0.578);
  color: black;
  border-radius: 4px;
  cursor: pointer;
  z-index: 9999;
}

.user-image-wrapper {
  position: fixed;
  top: 45%;
  left: 35%;
  width: 25vh;
  height: 25vh;
}
.user-image {
  position: absolute;

  width: 25vh;
  height: 25vh;
  object-fit: contain;
  object-position: left bottom;
  position: absolute;
  left: 0;
  bottom: 0;
}
.user-image-wrapper.hit {
  animation: moveToBag 0.1s ease-out;
}

@keyframes moveToBag {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20vw, -5vh);
  }
  100% {
    transform: translate(0, 0);
  }
}
.user-image.final-hit1 {
  transform-origin: center center;
  animation: spinAttackSpin 2.1s ease-out forwards;
}

.user-image-wrapper.final-hit1 {
  transform-origin: center center;
  animation: spinAttack 2.1s ease-out forwards;
}

@keyframes spinAttackSpin {
  0% {
    transform: rotate(0deg);
  }
  8.5% {
    transform: rotate(90deg);
  }
  52% {
    transform: rotate(1395deg);
  }
  58.5% {
    transform: rotate(1350deg);
  }
  78% {
    transform: rotate(1350deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

@keyframes spinAttack {
  /* 0.00〜0.18：飛び上がり */
  0% {
    transform: translateY(0);
  }
  8.5% {
    /* 0.18 / 2.10 ≒ 8.5% */
    transform: translate(20vw, -15vh);
  }

  /* 0.18〜1.09：空中で回転中（位置は維持） */
  52% {
    /* 1.09 / 2.10 ≒ 52% */
    transform: translate(20vw, -15vh);
  }

  /* 1.09〜1.23：突撃 */
  58.5% {
    /* 1.23 / 2.10 ≒ 58.5% */
    transform: translate(-20vw, -15vh); /* ←突撃距離は調整 */
  }
  59.5% {
    transform: translate(-18vw, -15vh);
  }
  60.5% {
    transform: translate(-20vw, -15vh);
  }

  /* 1.23〜1.64：静止 */
  78% {
    /* 1.64 / 2.10 ≒ 78% */
    transform: translate(-20vw, -15vh);
  }

  /* 1.64〜2.10：元の位置へ戻る */
  100% {
    transform: translate(0, 0);
  }
}

.bag.final-shake {
  animation: finalSwing 1.23s ease-out;
}
.user-image.final-hit2 {
  transform-origin: center center;
  animation: fh2-image 2.1s linear forwards;
}
.user-image-wrapper.final-hit2 {
  animation: fh2-wrapper 2.1s ease-out forwards;
}

@keyframes finalSwing {
  /* 0.00〜0.38：揺れない */
  0% {
    transform: rotate(0deg);
  }
  30.9% {
    /* 0.38 / 1.23 */
    transform: rotate(0deg);
  }

  /* ここから 4 往復（8 回切り替え） */
  /* 片道 0.10625s → 0.10625 / 1.23 = 8.64% */

  /* 1回目：左 */
  39.5% {
    transform: rotate(-8deg); /* 角度は調整してOK */
  }
  /* 1回目：右 */
  48.1% {
    transform: rotate(10deg);
  }

  /* 2回目：左 */
  56.7% {
    transform: rotate(-15deg);
  }
  /* 2回目：右 */
  65.3% {
    transform: rotate(15deg);
  }

  /* 3回目：左 */
  73.9% {
    transform: rotate(-20deg);
  }
  /* 3回目：右 */
  82.5% {
    transform: rotate(20deg);
  }

  /* 4回目：左 */
  91.1% {
    transform: rotate(-20deg);
  }
  /* 4回目：右 */
  99.7% {
    transform: rotate(25deg);
  }

  /* 最後：飛ぶアニメーションにつなぐために 0deg に戻す */
  100% {
    transform: rotate(0deg);
  }
}
@keyframes fh2-image {
  0% {
    transform: rotate(0deg);
  }
  15.2% {
    transform: rotate(-10deg);
  }
  40.4% {
    transform: rotate(-360deg);
  }

  50.4% {
    transform: rotate(-360deg);
  }
  71.9% {
    transform: rotate(0deg);
  }
  85.2% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fh2-wrapper {
  /* 0.00：初期位置 */
  0% {
    transform: translate(0, 0);
  }

  /* 0.32：少し後ろに引く */
  15.2% {
    /* 0.32 / 2.10 */
    transform: translate(5vw, 0);
  }

  /* 0.43：サンドバッグ左（-20vw） */
  20.4% {
    transform: translate(-40vw, -10vh);
  }

  /* 0.52：右上（+20vw, -10vw） */
  24.7% {
    transform: translate(-15vw, -20vh);
  }

  /* 0.65：左（-20vw） */
  31% {
    transform: translate(-40vw, -10vh);
  }

  /* 0.74：右（+20vw） */
  35.2% {
    transform: translate(-15vw, -10vh);
  }

  /* 0.85：左（-20vw, +10vw） */
  40.4% {
    transform: translate(-40vw, -10vh);
  }

  /* 0.93：右下（+20vw, +10vw） */
  44.2% {
    transform: translate(-15vw, 0vh);
  }

  /* 1.06：左（-20vw） */
  50.4% {
    transform: translate(-40vw, -10vh);
  }

  /* 1.14：右上（+20vw, -10vw） */
  54.2% {
    transform: translate(-15vw, -20vh);
  }

  /* 1.28：左（-20vw） */
  61% {
    transform: translate(-40vw, -10vh);
  }

  /* 1.37：右上（+20vw, -10vw） */
  65.2% {
    transform: translate(-15vw, -20vh);
  }

  /* 1.51：真ん中（0,0）→ サンドバッグ回転開始 */
  71.9% {
    transform: translate(-20vw, -10vh);
  }
  78.0% {
    transform: translate(-16vw, -23vh);
  }

  /* 1.79：ジャンプ頂点（0, -15vw） */
  85.2% {
    transform: translate(-10vw, -30vh);
  }
  90.0% {
    transform: translate(-4vw, -23vh);
  }

  /* 2.01：着地（0, 0） */
  95.7% {
    transform: translate(0, 0);
  }

  /* 2.10：静止 */
  100% {
    transform: translate(0, 0);
  }
}
.idle {
  animation: idleMotion 3.33s linear infinite;
}

@keyframes idleMotion {
  /* 0%：右へ（7.40〜7.75） */
  0% {
    transform: translateX(0) rotate(0deg);
  }
  10.5% {
    transform: translate(2vw, -0.2vh) rotate(10deg);
  }

  /* 中央へ（7.75〜8.08） */
  20.4% {
    transform: translateX(0) rotate(0deg);
  }

  /* 左へ（8.08〜8.43） */
  31% {
    transform: translate(-2vw, -0.2vh) rotate(-10deg);
  }

  /* 中央へ（8.43〜8.76） */
  41.4% {
    transform: translateX(0) rotate(0deg);
  }

  /* 静止（8.76〜9.36） */
  59.4% {
    transform: translateX(0) rotate(0deg);
  }

  /* ジャンプ1（9.36〜9.73） */
  69.7% {
    transform: translateY(-1vw);
  }
  79.3% {
    transform: translateY(0);
  }

  /* ジャンプ2（9.73〜10.11） */
  88.8% {
    transform: translateY(-1vw);
  }
  98.5% {
    transform: translateY(0);
  }

  /* 静止（10.11〜10.73） */
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.idle-last {
  animation: idleLast 1.62s linear infinite;
}

.idle-last-tilt {
  animation: idleLastTilt 1.62s linear infinite;
}

@keyframes idleLast {
  /* --- 大ジャンプ（Y軸） --- */

  0% {
    transform: translateY(0);
  }

  /* 大ジャンプ頂点 */
  18.5% {
    transform: translateY(-10vh);
  }

  /* 着地（小ジャンプ開始） */
  38.2% {
    transform: translateY(0);
  }

  /* 小ジャンプ頂点 */
  43.2% {
    transform: translateY(-2.5vh);
  }

  /* 小ジャンプ着地 */
  46.3% {
    transform: translateY(0);
  }

  /* 待機 */
  100% {
    transform: translateY(0);
  }
}

@keyframes idleLastTilt {
  7.4% {
    transform: rotate(0deg);
  }
  13.4% {
    transform: rotate(10deg);
  }

  18.5% {
    transform: rotate(0deg);
  }

  23.5% {
    transform: rotate(-10deg);
  }
  29.7% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ex-mark {
  position: fixed;
  top: 45vh;
  left: 45vw;
  width: 6vw;
}

.he {
  position: fixed;
  top: 50vh;
  left: 55vw;
  transform: translate(0%, -50%);
  width: 60vh;
}

.gauge {
  position: fixed;
  top: 5vh;
  right: 2vw;
  width: max(0px, calc((94vh - 15vw) * 13 / 190));
  height: max(0px, calc(94vh - 15vw));
}

.bar {
  position: absolute;
  bottom: calc((94vh - 15vw) * 3 / 190);
  left: calc((94vh - 15vw) * 3.1 / 190);
  width: calc(100% - (94vh - 15vw) * 6.2 / 190);
  background-color: #a8f40fac;
}

.frame {
  image-rendering: pixelated;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* クリック邪魔しない */
}

.tag {
  position: absolute;
  left: 0px;
  transform: translateX(-100%);
  color: white;
  width: max(0px, calc((80vh - 30vw) * 27 / 190));
  padding: 0px max(0px, calc((80vh - 30vw) * 7 / 190));
  font-size: max(0px, calc((80vh - 30vw) * 10 / 190));
  background: #000000a7;
}
.tag1 {
  top: 0px;
}
.tag2 {
  top: 10%;
}
.tag3 {
  top: 20%;
}
.tag4 {
  top: 30%;
}
.tag5 {
  top: 40%;
}
.tag6 {
  top: 50%;
}
.tag7 {
  top: 60%;
}
/* 色だけのクラス */
.color-hp {
  color: #8cff00;
}
.color-atk {
  color: #f5d66b;
}
.color-def {
  color: #ff9900;
}
.color-spa {
  color: #00e5ff;
}
.color-spd {
  color: #0077ff;
}
.color-spe {
  color: #aa0dd1;
}

@media (max-aspect-ratio: 1/1) {
  .pokemon-name {
    font-size: 8vw;
    max-width: 85vw;
  }
  .right-button {
    width: 40vw;
  }
  .left-button {
    width: 40vw;
  }
  .category-label {
    font-size: 10vw;
  }
  .category-bar {
    left: 42%;
    font-size: 10vw;
  }
  .bag {
    top: 10%;
    left: 5%;
  }
  .user-image-wrapper {
    left: 50%;
  }
  .ex-mark {
    top: 45vh;
    left: 80vw;
    width: 16vw;
  }
  .gauge {
    top: 20vw;
    right: 4vh;
    width: max(0px, calc((80vh - 30vw) * 13 / 190));
    height: max(0px, calc(80vh - 30vw));
  }
  .bar {
    bottom: calc((80vh - 30vw) * 3 / 190);
    left: calc((80vh - 30vw) * 3.1 / 190);
    width: calc(100% - (80vh - 30vw) * 6.2 / 190);
  }
}

@media (orientation: landscape) {
  .portrait {
    display: none;
  }
}
@media (orientation: portrait) {
  .landscape {
    display: none;
  }
}
